.app {
	padding: 20 20 20 20;
	font-family: Arial;
	font-size:20px;
	text-align: center;
	font=font-weight: bold;
}
.inbox {
	padding: 20 20 20 20
	text-align: left;
	font-size: 25;
}
.body {
	text-align: left;
	background-color: #008B8B;
}
.date1 {
	text-align: left;
	padding: 0 20 0 20;
	outline: 10 10 10 10;
}
.sender {
	padding-top: 20;
}
.subject {
	text-align: left;
	background-color: #E0EEE0
}
